<p style="color: green"><%= notice %></p>

<%= render @review_tag %>

<div>
  <%= link_to "Edit this review tag", edit_review_tag_path(@review_tag) %> |
  <%= link_to "Back to review tags", review_tags_path %>

  <%= button_to "Destroy this review tag", @review_tag, method: :delete %>
</div>
