<%= turbo_frame_tag "new_review" do %>
  <%= form_with(model: review) do |f| %>
    <% if review.errors.any? %>
      <div class="errors">
        <h3><%= pluralize(review.errors.count, "error") %> prevented this review from saving:</h3>
        <ul>
          <% review.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div>
      <%= f.label :title %><br>
      <%= f.text_field :title, required: true %>
    </div>

    <div>
      <%= f.label :body %><br>
      <%= f.text_area :body, rows: 6 %>
    </div>

    <div>
      <%= f.submit "Create Review" %>
      <!-- キャンセル：リンクで元に戻す -->
      <%= link_to "Cancel", reviews_path, data: { turbo_frame: "new_review" } %>
    </div>
  <% end %>
<% end %>