<p style="color: green"><%= notice %></p>

<% content_for :title, "5GAME" %>

<h1>5GAME</h1>

<div id="reviews">
  <% @reviews.each do |review| %>
    <%= render review %>
    <p>
      <%= link_to "Show this review", review %>
    </p>
  <% end %>
</div>

<%= link_to "New review", new_review_path %>
<<<<<<< HEAD


=======
<%= link_to "Login",/views/sessions/new.html.erb%>
>>>>>>> 4b059a7 (ユーザー関連のビューを編集してログイン/ログアウトのページが表示されるように)
