<p style="color: green"><%= notice %></p>

<% content_for :title, "5GAME" %>

<h1>5GAME</h1>

<div id="reviews">
  <% @reviews.each do |review| %>
    <%= render review %>
    <p>
      <%= link_to "Show this review", review %>
    </p>
  <% end %>
</div>


<%= link_to "New review", new_review_path %>
<%= link_to "Login", user_session_path %>
<%= link_to "Logout", destroy_user_session_path, data: {turbo_method: :delete} %>

<main class="layout">
  <aside class="col left-col">
    <div class="search-box">
      <%= form_with url: reviews_path, method: :get, local: true do |f| %>
        <%= f.text_field :q, value: params[:q], placeholder: "検索", class: "search-input" %>
        <%= f.submit "検索", class: "search-btn" %>
      <% end %>
    </div>
    
    <div class="links-box">
          <h4>ジャンル・プラットフォーム別リンク</h4>
          <ul class="genre-links">
            <% ["アクション","RPG","シミュレーション","シューティング","音楽ゲーム","レースゲーム","ホラーゲーム","ストラテジゲーム","パズル","格闘ゲーム"].each do |g| %>
              <li><%= link_to g, reviews_path(genre: g) %></li>
            <% end %>
          </ul>
    
          <div class="side-thumbs">
            <% (@side_highlights || []).each do |h| %>
              <div class="side-thumb">
                <%= link_to review_path(h) do %>
                  <% if h.jacket.attached? %>
                    <%= image_tag h.jacket.variant(resize_to_limit: [200, 200]), alt: h.title %>
                  <% else %>
                    <%= image_tag "placeholder-side.jpg", alt: h.title %>
                  <% end %>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      </aside>
    
      <section class="col center-col">
        <div class="list-header">
          <h2>投稿されたレビューを表示</h2>
          
    
          <div class="sort-box">
            <%= form_with url: reviews_path, method: :get, local: true do |f| %>
              <%= hidden_field_tag :q, params[:q] if params[:q].present? %>
              <label>ソート</label>
              <%= select_tag :sort, options_for_select([["新着順","new"],["評価順","rating"]], params[:sort]), include_blank: false, onchange: 'this.form.submit()' %>
            <% end %>
          </div>
        </div>
        
         <% if @reviews.present? %>
      <% first_review = @reviews.first %>
      <article class="large-review">
        <div class="large-thumb">
          <%= link_to review_path(first_review) do %>
            <% if first_review.respond_to?(:jacket) && first_review.jacket.attached? %>
              <%= image_tag first_review.jacket.variant(resize_to_limit: [380, 380]), alt: first_review.title %>
            <% else %>
              <%= image_tag "placeholder-large.jpg", alt: first_review.title %>
            <% end %>
          <% end %>
        </div>

        <div class="large-meta">
          <div class="stars">
            <%= render partial: "shared/stars", locals: { rating: first_review.try(:rating) } %>
          </div>
          <h3 class="title"><%= link_to first_review.title, first_review %></h3>
          <p class="meta-line"><%= first_review.try(:genre) %>　/　<%= first_review.try(:platform) %></p>
          <div class="excerpt-box"><%= simple_format(truncate(first_review.body, length: 240)) %></div>
          <div class="meta-actions">
            <%= link_to "詳細を見る", review_path(first_review), class: "btn" %>
          </div>
        </div>
      </article>
    <% end %>

    <div class="grid-reviews">
      <% @reviews.offset(1).each do |review| %>
        <%= render partial: "review_grid_card", locals: { review: review } %>
      <% end %>
    </div>

  </section>
</main>

        </div>